<%-include('partials/header.ejs') %>
<%-include('partials/nav.ejs') %>

<% for (movie of movie) {%>
  <div class="movieBox" movieTitle=<%=movie.title%>>
    <div class="imgBox">
      <img class="moviePosterImg" src=<%=movie.poster%>>  
    </div>

    <div  class="movieInfoBox">
      <strong class="movieTitleText"><%=movie.title%></strong> 
      <em>(<%=movie.year%>) </em><br>
      <strong>Director: </strong> <%=movie.director%> 
      <strong>Genre: </strong> <%=movie.genre%> 
      <br>
      <em class="movieDescText"><%=movie.plot%></em> <br>
      <strong>imDb Rating: </strong> <%=movie.imdbRating%> <br>

      <div class="rating">
        <strong>Our Rating: </strong>
        <% let filled = 'bi-trash'; %>
        <% let unfilled = 'bi-trash-fill';%> 
        <span><i class=<%=unfilled%>></i></span> 
        <span><i class=<%=(movie.siteRating < 3)?filled:unfilled%>></i></span> 
        <span><i class=<%=(movie.siteRating < 4)?filled:unfilled%>></i></span> 
        <span><i class=<%=(movie.siteRating < 5)?filled:unfilled%>></i></span>
        <span><i class=<%=(movie.siteRating < 6)?filled:unfilled%>></i></span> 
      </div>

      Add to your movie list!
      <form action="/home" method="POST">
        <input type="hidden" name="movieId" value=<%=movie.movieId%>>
        <% if(userMovie.length == 0) { %>
          <button class="btn btn-primary" > Add Movie <i class="bi-plus-circle-fill" ></i></button> <br>
        <% } %>
        <% for(user of userMovie) {%>
          <% if (user.movieId == movie.movieId) {%>
            <strong><em> Added </strong></em><br>
          <% }else{ %>
            here
            <button class="btn btn-primary"> Add Movie <i class="bi-plus-circle-fill" ></i></button> <br>
          <% } %>
        <% } %>
      </form>

    </div>
  </div>
  <% if (typeof message != "undefined") { %>
    <strong><em> <%=message%> </strong></em>
  <% } %>
<% }%>

<%-include('partials/footer.ejs') %>
